
<!-- cart product -->
<div
  class="product"
  data-id="recPPMXgGkfXxMmoP"
  data-name="Watermelon"
  data-weight="200"
  data-price="5"
  data-stock="true"
  x-data="{name: $el.dataset.name, weight: $el.dataset.weight}"
  x-init="$store._._init()"
  >
  @@include('./_card_product_details.html')
</div>
<!-- end product -->

<!-- cart product -->
<div
  class="product"
  data-id="recNaLU8GwHJowXTu"
  data-name="Pineapple"
  data-weight="25"
  data-price="15"
  data-stock="false"
  x-data="{name: $el.dataset.name, weight: $el.dataset.weight}"
  x-init="$store._._init()"
  >
  @@include('./_card_product_details.html')
</div>
<!-- end cart product -->

<!-- cart product -->
<div
  class="product"
  data-id="rechLPKwTwDiiRA6a"
  data-name="Guava"
  data-weight="100"
  data-price="9"
  data-stock='true'
  x-data="{name: $el.dataset.name, weight: $el.dataset.weight}"
  x-init="$store._._init()"
  >
  @@include('./_card_product_details.html')
</div>
<!-- end cart product -->

<!-- cart product -->
<div
  class="product"
  data-id="reciihXVwA3N4HNMY"
  data-name="Orange"
  data-weight="80"
  data-price="2"
  data-stock='true'
  x-data="{name: $el.dataset.name, weight: $el.dataset.weight}"
  x-init="$store._._init()"
  >
  @@include('./_card_product_details.html')
</div>
<!-- end cart product -->

<!-- cart product -->
<div
  class="product"
  data-id="recUVcINK0K1WSI9u"
  data-name="Papaya"
  data-weight="12"
  data-price="8"
  data-stock='true'
  x-data="{name: $el.dataset.name, weight: $el.dataset.weight}"
  x-init="$store._._init()"
  >
  @@include('./_card_product_details.html')
</div>
<!-- end cart product -->

<!-- cart product -->
<div
  class="product"
  data-id="recE4JuUSkVB4JNNq"
  data-name="Banana"
  data-weight="500"
  data-price="7"
  data-stock='true'
  x-data="{name: $el.dataset.name, weight: $el.dataset.weight}"
  x-init="$store._._init()"
  >
  @@include('./_card_product_details.html')
</div>
<!-- end cart product -->

