:root{
  --white: #FFFFFF;
  --blue-lighten: aliceblue;
  --overlay: rgb(0 0 0/.25);
  --black: #333333;
  --gray: #808080;
  --gray-ligthen: #E7E7E7;
  --orange-ligthen: #ffeece;
  --green-ligthen: #dcfce7;
  --blue-ligthen: #f0f8ff;
}