// https://css-tricks.com/prevent-page-scrolling-when-a-modal-is-open/
body.noScroll{
  overflow-y: hidden;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--overlay);
}

.cart__dialog{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  width: 100vw;
  max-width: 25rem;
  opacity: 1;
  background-color: var(--white);
  display: flex;
  flex-direction: column;

  &__header{
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
      margin: 0;
    }
  }

  &__content{
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 0 1.5rem;
    .list{
      display: flex;
      height: 70px;
      &:last-of-type{
        margin-bottom: 1.5rem;
      }
    }
    .list + .list {
      margin-top: 1.5rem;
      border-top: 1px solid var(--gray-ligthen);
      padding-top: 1.5rem;
    }
  }


  &__default {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__product__infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__product__thumbnail {
    margin-right: 0.75rem;
    img{
      height: 70px;
      width: 70px;
      border-radius: 3px;
    }
  }

  &__product__details, &__product__selection{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__footer{
    border-top: 1px solid var(--gray-ligthen);
    margin-top: auto;
    background-color: aliceblue;
    padding: 1.5rem;
  }
  &__subtotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__checkout {
    display: flex;
    padding-top: 1.5rem;
    button{
      width: 100%;
      padding: 0.95rem;
    }
}
}

.transition {
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
}

.translate-x-full {
  transform: translate(100%);
}

.translate-x-0 {
  transform: translate(0px);
}