@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

:root{
  --white: #FFFFFF;
  --black: #333333;
  --blue-lighten: aliceblue;
}

body {
  min-height: 100vh; // minimum full viewport height
  width: 100%; // full viewport width
  display: flex;
  // align-items: center;
  flex-direction: column;
  // justify-content: center;
  font-family: 'Shippori Mincho', serif;
  color: var(--black);
}

// https://css-tricks.com/prevent-page-scrolling-when-a-modal-is-open/
body.noScroll{
  overflow-y: hidden;
}

.btn{
  display: flex;
}

button {
  outline: none;
  cursor: pointer;
  text-decoration: none; 
  &:disabled{
    cursor: not-allowed;
  }
  &::selection{
    background-color: transparent;
  }
}

input::selection{
  background-color: transparent;
}

.delete{
  margin-right: 10px;
}
.btn input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.rounded{
  border-radius: 9999px;
  background-color: var(--black);
  width: 20px;
  height: 20px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 12px;
  &::selection{
    background-color: transparent;
  }
}

.cart__info{
  display: flex;
  width: fit-content;
  cursor: pointer;
  &__counter{
    margin-left: 5px;
  }
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(0 0 0/.25);
}

.cart__dialog{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  width: 100vw;
  max-width: 23rem;
  opacity: 1;
  background-color: var(--white);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__main{
    list-style: none;
    padding: 0px;
  }
  &__product{
    &__infos{
      width: 100%;
    }
    &__details{
      // background-color: #dcfce7;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__thumbnail{
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 10px 0px 10px 0px;
      // background-color: aliceblue;
      margin-right: .75rem;
      img{
        // height: 70px;
        // width: 70px;
        border-radius: 3px;
      }
    }
  }
  &__footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 1.5rem;
    background-color: aliceblue;
    border-top: 1px solid #E7E7E7;
  }
  &__subtotal{
    display: flex;
    justify-content: space-between;
  }
  &__checkout{
    display: flex;
    padding-top: 1.5rem;
    button{
      width: 100%;
      padding: .95rem;
    }
  }
  .list{
    display: flex;
  }
  .list + .list {
    margin-top: 1.5rem;
    border-top: 1px solid #E7E7E7;
    padding-top: 1.5rem;
  }
}

.transition {
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
}

.translate-x-full {
  transform: translate(100%);
}

.translate-x-0 {
  transform: translate(0px);
}

.stock{
  display: inline-flex;
  font-family: monospace;
  font-size: 10px;
  width: fit-content;
  padding: 0px 3px 2px 3px;
  border-radius: 2px;
  color: gray;
  &.true{
    background-color: #dcfce7;
  }
  &.false{
    background-color: #ffeece;
    text-decoration: line-through;
  }
}
