@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

:root{
  --white: #FFFFFF;
  --black: #333333;
  --blue-lighten: aliceblue;
}

body {
  min-height: 100vh; // minimum full viewport height
  width: 100%; // full viewport width
  display: flex;
  // align-items: center;
  flex-direction: column;
  // justify-content: center;
  font-family: 'Shippori Mincho', serif;
  color: var(--black);
}

.btn{
  display: flex;
}

button {
  outline: none;
  cursor: pointer;
  text-decoration: none; 
  &:disabled{
    cursor: not-allowed;
  }
  &::selection{
    background-color: transparent;
  }
}

input::selection{
  background-color: transparent;
}

.delete{
  margin-right: 10px;
}
.btn input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.rounded{
  border-radius: 9999px;
  background-color: var(--black);
  width: 20px;
  height: 20px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 12px;
  &::selection{
    background-color: transparent;
  }
}

.cart__info{
  display: flex;
  &__counter{
    margin-left: 5px;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
